.InfoBlockTitle {
    color: #500805;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    margin-top: 70px;
}

.InfoBlocks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.InfoBlocks .InfoTextBlock {
    width: calc(50% - 50px);
}

.InfoTextBlock .InfoText__data {
    color: #190000;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    margin-bottom: 30px;
}

.InfoBlocks .InfoImagesBlock {
    width: calc(50% - 50px);
}

.DateLabel {
    color: #190000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}

.NameBlockLabel {
    color: #190000;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    margin-bottom: 45px;
}

.InfoBlocks {
    margin-top: 80px;
}

.MainBtn {
    cursor: pointer;
    border: none;
    outline: none;
    width: 160px;
    height: 50px; 
    border-radius: 10px;
    background: #500805; 
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    margin-bottom: 45px;
}

.LinkBlock {
    margin-left: 30px;
    color: #500805;
    font-family: Unbounded; 
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline; 
}

.InfoImagesBlock {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.RightImages,
.LeftImages {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}

.RightImages {
    margin-top: 70px;
}
