.CalendarBlock {
    margin: 80px auto;
}

.CalendarLabelBlock {
    width: 100%;
    height: 100px;
    background: #660000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;   
    border-radius: 20px 20px 5px 5px;
}

.CalendarLabelBlock h1 {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}

.BtnsPaginations {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 29px;
}

.BtnsPaginations button.BtnsPagination {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GridBoxBlock {
    margin-top: 10px;
    width: 100%;
    min-height: 350px;
    display: grid;
    gap: auto;
    grid-template-columns: repeat(4,1fr);
}

.CardBlock {
    width: 250px;
    height: 350px;
    flex-shrink: 0;
    border-top: 2px solid #190000;
    padding: 15px;
    transition: .2s ease;
}

.CardBlock .LabelBlock {
    margin-top: 17px;
    color: #190000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.CardBlock p {
    margin-top: 10px;
    color: #190000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.CardBlock .DateLabel {
    color: #190000;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    transition: .2s ease;
}

.CardBlock:hover {
    background: #F1ECEC; 
}

.CardBlock:hover .DateLabel {
    color: #660000;
}

.CardBlock:hover {
    border-color: #660000;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 0px) {
    .GridBoxBlock {
        margin-top: 10px;
        width: 100%;
        min-height: 270px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
    } 
    .CardBlock {
        width: 170px;
        height: 270px;
        flex-shrink: 0;
        border-top: 2px solid #190000;
        padding: 10px;
        transition: .2s ease;
    }
    
    .CardBlock .LabelBlock {
        margin-top: 15px;
        color: #190000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; 
    }
    
    .CardBlock p {
        margin-top: 10px;
        color: #190000;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; 
    }
    
    .CardBlock .DateLabel {
        color: #190000;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; 
        transition: .2s ease;
    }    
}

@media screen and (min-width: 1000px) {
    .GridBoxBlock {
        margin-top: 10px;
        width: 100%;
        min-height: 300px;
        display: grid;
        gap: 45px;
        grid-template-columns: repeat(4,1fr);
    }

    .CardBlock {
        width: 200px;
        height: 300px;
        flex-shrink: 0;
        border-top: 2px solid #190000;
        padding: 10px;
        transition: .2s ease;
    }
    
    .CardBlock .LabelBlock {
        margin-top: 17px;
        color: #190000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; 
    }
    
    .CardBlock p {
        margin-top: 10px;
        color: #190000;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; 
    }
    
    .CardBlock .DateLabel {
        color: #190000;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; 
        transition: .2s ease;
    }    
}

@media screen and (min-width: 1250px) {
    .GridBoxBlock {
        margin-top: 10px;
        width: 100%;
        min-height: 350px;
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(4,1fr);
    }

    .CardBlock {
        width: 250px;
        height: 350px;
        flex-shrink: 0;
        border-top: 2px solid #190000;
        padding: 15px;
        transition: .2s ease;
    }
    .CardBlock {
        width: 250px;
        height: 350px;
        flex-shrink: 0;
        border-top: 2px solid #190000;
        padding: 15px;
        transition: .2s ease;
    }
    
    .CardBlock .LabelBlock {
        margin-top: 18px;
        color: #190000;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; 
    }
    
    .CardBlock p {
        margin-top: 10px;
        color: #190000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; 
    }
    
    .CardBlock .DateLabel {
        color: #190000;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; 
        transition: .2s ease;
    }
    
}
